@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #1F2736 inset;
  -webkit-text-fill-color: white;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  caret-color: white;
}